  <!-- Header -->
  <header id="header" class="bg-secondary">
    <nav class="container mx-auto flex justify-start items-center py-8 px-4">
      <!-- App Name -->
      <a class="text-3xl text-indigo-400 font-bold uppercase mr-4" routerLink="/" >AWSMVideos</a>

      <div class="flex flex-grow items-center">
        <!-- Primary Navigation -->
        <ul class="flex flex-row mt-1">
          <!-- Navigation Links -->
          <li *ngIf="!(auth.isAuthenticated$ | async); else authLinks">
            <a 
            class="px-2" href="#" 
            (click)="openModal($event)" 
            >{{'nav_login'|translate}}</a>
          </li>
          <ng-template #authLinks>
            <li>
              <a 
              class="px-2" 
              routerLinkActive="text-indigo-400" 
              routerLink="/manage" 
              [routerLinkActiveOptions]="{exact:true}"
              [queryParams]="{sort:'recent'}"
              >{{'manage'|translate}}</a>
            </li>
            <li>
              <a 
              class="px-2" 
              [routerLinkActiveOptions]="{exact:true}" 
              routerLinkActive="text-indigo-400" 
              routerLink="/upload" 
              >{{'upload'|translate}}</a>
            </li>
            <li>
              <a class="px-2" 
              href="#" 
              (click)="auth.logout($event)"
              >{{'logout'|translate}}</a>
            </li>
          </ng-template>
         
          <li>
            <a 
            class="px-2" 
            routerLink="/about" 
            routerLinkActive="text-indigo-400" 
            [routerLinkActiveOptions]="{exact:true}"
            >{{'about'|translate}}</a>
          </li>
        </ul>

        <!-- Language Switcher -->
        <app-language-switcher class="flex ml-auto"></app-language-switcher>
      </div>
    </nav>
  </header>