 
  
  <!-- Main Content -->
    <section class="container mx-auto my-8 bg-secondary p-6" >
      <app-alert *ngIf="showAlert" [color]="alertColor">
        {{alertMsg}}
        <p *ngIf="showPercentage">{{percentage | percent}}</p>
      </app-alert>

        <div class="rounded relative flex flex-col ">
          <div class="font-bold mb-6">Upload Video</div>
    
          <ng-container *ngIf="!ffmpegService.isReady; else mainForm">
            <div class="container shadow rounded-md my-8 p-6 max-w-sm w-full mx-auto">
              <div class="animate-pulse flex space-x-4">
                <div class="container rounded-full bg-secondary h-10 w-10"></div>
                <div class="container flex-1 space-y-6 py-1">
                  <div class="h-2 bg-secondary rounded"></div>
                  <div class="space-y-3">
                    <div class="grid grid-cols-3 gap-4">
                      <div class="h-2 bg-secondary rounded col-span-2"></div>
                      <div class="h-2 bg-secondary rounded col-span-1"></div>
                    </div>
                    <div class="h-2 bg-secondary rounded"></div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          
          <ng-template #mainForm>
            <ng-container *ngIf="!nextStep; else uploadFormCtr" >
              <!-- Upload Dropbox -->
              <div
              
              app-event-blocker
              (dragend)="isDragover=false"
              (dragover)="isDragover=true"
              (dragenter)="isDragover=true"
              (dragleave)="isDragover=false"
              (mouseleave)="isDragover=false"
              (drop)="storeFile($event)"
              [ngClass]="{
                'bg-indigo-400 border-indigo-400 border-solid':isDragover
              }"
                class="w-full px-10 py-40 rounded text-center cursor-pointer border border-dashed
                  border-gray-400 transition duration-500 hover:text-white
                  hover:bg-indigo-400 hover:border-indigo-400 hover:border-solid text-xl">
                <h5>Drop your file here (mp4 only!)</h5>
                <span *ngIf="ffmpegService.isRunning" class="material-icons text-center text-6x1 p-8 animate-spin">autorenew</span>
              </div>
              <input type="file" class="mt-4" (change)="storeFile($event)">
            </ng-container>
      
            <ng-template #uploadFormCtr>
              <!-- Video Editor -->
              <div >
      
                <!-- Form -->
                <form [formGroup]="uploadForm" (ngSubmit)="submit()"> 
                  <!-- Screenshots -->
                  <h2 class="mb-4 text-xl">Select a Thumbnail</h2>
                  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
                    <div *ngFor="let screenshot of screenshots" class="border-8 cursor-pointer " [ngClass]="{
                      'border-green-400':screenshot===selectedScreenshot,
                      'border-transparent':screenshot!==selectedScreenshot
                    }">
                      <img [src]="screenshot | safeURL" (click)="selectedScreenshot=screenshot">
                    </div>
   
                  </div>
      
                  <!-- Title -->
                  <div class="mt-4">
                    <label class="block text-xl mb-4">Title</label>
                    <app-input [control]="title" placeholder="Enter title"></app-input>
                  </div>
      
                  <div class="mt-4 text-right">
                    <button 
                      type="submit" 
                      [disabled]="uploadForm.invalid || inSubmission"
                      class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm rounded-md 
                        text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none
                        disabled:opacity-50 hover:bg-indigo-500 disabled:bg-indigo-400">
                      Publish
                    </button>
                  </div>
                </form>
              </div>
            </ng-template>
          </ng-template>
         
       
        </div>
      
    </section>